@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Prompt&family=Sarabun&display=swap');

/* 


font-family: 'Sarabun', sans-serif;

*/
/* root styling */

:root {
   --light: #f8f9fa;
   --secondary: #adb5bd;
   --dark: #343a40;
   --primary-color: #f15bb5;
   --secondary-color: #2ec4b6;
   --boder: #e9ecef;
}

::selection {
   background-color: var(--primary-color);
   color: var(--light);
}

html {
   scroll-behavior: smooth;
}
body {
   font-family: 'Prompt', sans-serif;
   padding: 0;
   margin: 0;
}

a {
   text-decoration: none;
}

* > * {
   box-sizing: border-box;
}

/* global styling */

.text-light {
   color: var(--light);
}

.text-secondary {
   color: var(--secondary);
}
.text-dark {
   color: var(--dark);
   font-family: 'Prompt', sans-serif !important;
}
.text-primary {
   color: var(--primary-color);
}
.bg-light {
   background-color: var(--light);
}
.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: auto;
}

.img-fluid {
   width: 100%;
}

.text-title {
   font-weight: bold;
   font-family: 'Prompt', sans-serif !important;
}

.secondary-title {
}

.display-1 {
   font-size: 22px;
}

.display-2 {
   font-size: 16px;
}

.display-3 {
   font-size: 14px;
}

.text-center {
   text-align: center;
}

.text-right {
   text-align: right;
}

.btn {
   padding: 15px 20px;
   border: none;
   cursor: pointer;
}

.btn-primary {
   border-radius: 4px;
   background-color: var(--secondary-color);
}

.object-fit {
   max-height: 120px;
   height: 80px;
   width: 80px;
   object-fit: fill;
}

.d-flex {
   display: flex;
}

.flex-wrap {
   flex-wrap: wrap;
}

.justify-content-center {
   justify-content: center;
}

.justify-content-between {
   justify-content: space-between;
}

.mt-2 {
   margin-top: 10px;
}

.mt-3 {
   margin-top: 15px;
}

.mb-3 {
   margin-bottom: 30px;
}

.m-0 {
   margin: 0;
}

.px-1 {
   padding-left: 5px;
   padding-right: 5px;
}

.px-2 {
   padding-left: 20px;
   padding-right: 20px;
}

.py-1 {
   padding-top: 10px;
   padding-bottom: 10px;
}

.py-2 {
   padding-top: 20px;
   padding-bottom: 20px;
}

.py-3 {
   padding-top: 30px;
   padding-bottom: 30px;
}

.thumbnail {
   width: 100%;
   height: 500px;
   object-fit: cover;
}

.rounded {
   height: 120px;
   width: 120px;
   object-fit: fill;
   border-radius: 99px;
}

.shadow {
   box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}

.shadow-twilight {
   box-shadow: rgb(220 220 220) 0px 2px 10px;
}

/* sectio styling */

/* === Navigatio Menny === */
.navbar {
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 10px;
   background: transparent !important;
}

.nav-brand {
   font-family: 'Kanit', sans-serif;
   font-weight: bold;
   align-self: center;
   font-size: 32px;
}

.collapse {
   align-self: center;
}

.nav-link {
   font-size: 18px;
   margin: 12px;
   color: var(--dark);
}

.nav-link:hover {
   color: var(--primary-color);
}

.search-box {
   display: inline;
   border-right: 1px solid var(--secondary);
   padding-right: 12px;
   margin-right: 10px;
}

.toggle-button {
   font-size: 21px;
   background-color: transparent;
   border: none;
   position: absolute;
   right: 0;
   margin: 8px 10px;
   display: none;
}

.toggle-button:focus {
   outline: none;
}

/* === close Navigatio Menny === */

/* === bg header ==== */

.hero-image {
   position: relative;
   height: 500px;
   overflow: hidden;
   background: url(./assets/bg-header.jpg) no-repeat center;
   background-size: cover;
}

.bg-container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   text-align: center;
   color: #777;
   font-weight: 700;
}

.bg-container h1 {
   font-size: 72px;
   letter-spacing: 0.2em;
   margin: 0;
}

.bg-container h1 span {
   border: 10px solid white;
   padding: 6px 14px;
   display: inline-block;
   box-shadow: 5px 5px 10px rgb(133, 133, 133);
}

.des {
   margin: 20px;

   display: block;
   font-size: 26px;
   text-shadow: 0 0 10px rgb(133, 133, 133);
}

.bg-container .btn {
   color: #d4d4d4;
   padding: 10px 24px;
   font-size: 20px;
   text-decoration: none;
   background: #474747;
   border-radius: 8px;
   transition: 0.3s all;
}

.bg-container .btn:hover {
   opacity: 0.8;
}

/* === close bg header ==== */

/* === Main Section */

#site-main {
   margin-top: 8em;
}

#posts {
   margin-bottom: 5em;
}

.grid {
   margin: 0 auto;
}

.grid .grid-item {
   width: calc(33.3333% - 20px);
   margin-bottom: 3em;
   transition: 0.3s all;
}

.swiper-slide img {
   height: 300px;
}

#site-main .grid-item:hover {
   transform: translateY(-2%);
}

/* === close Main Section */

/* === footer === */
#footer {
   padding-top: 4em;
}

#footer .feature-post .flex-item {
   margin-bottom: 10px;
   object-fit: scale-down;
   transition: 0.3s all;
}

#footer .feature-post .flex-item img {
   object-fit: scale-down;
}

#footer .tags a {
   border-radius: 40px;
   padding: 10px 20px;
   font-size: 15px;
}

#footer .copyrights {
   padding: 10px 0;
   border-top: 2px solid var(--light);
}

#footer .flex-item:hover {
   transform: translateY(-5%);
   box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}

/* === close footer === */

/* article page */

#post {
   padding: 0 2em;
   margin-bottom: 4em;
}

.post-footer .post-author {
   position: relative;
   margin-top: 4em;
   background-color: var(--light);
}

.post-footer .post-author::after {
   background-color: white;
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 4em;
   z-index: 0;
}

.post-footer .post-author .author-avatar {
   margin: 0 auto;
   margin-bottom: 1em;
   position: inherit;
   z-index: 1;
}

.post-footer .post-comments .reply {
   padding-left: 7em;
}

.form-control {
   width: 100%;
   border: 2px solid var(--boder);
   padding: 1em;
   font-size: 18px;
   margin-right: 10px;
}

/* close article page */

/* Side bar */
#sidebar .categories a {
   padding: 1em 3em;
   font-size: 18px;
   margin-bottom: 1em;
   background-color: var(--light);
   border-radius: 99px;
}

#sidebar .categories a:hover {
   background-color: var(--primary-color);
   color: var(--light);
}

#sidebar .trending-post .post-item img {
   object-fit: cover;
}

#sidebar .trending-post .post-item:hover {
   transform: translateX(5%);
   box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}
/* .Side bar */

/* === sticky === */
.sticky {
   position: fixed;
   top: 0;
   z-index: 99;
   width: 100%;
}

/* === .sticky === */

/*  Media Query */
.row {
   display: flex;
}

.col-3 {
   flex: 0 0 33.3333%;
   max-width: 33.3333%;
   padding-right: 35px;
}

.col-8 {
   flex: 0 0 70%;
   max-width: 70%;
}

.col-4 {
   flex: 0 0 30%;
   max-width: 30%;
}

@media (max-width: 1024px) {
   .row {
      flex-wrap: wrap;
   }

   .col-3 {
      flex: 0 0 50%;
      max-width: 50%;
   }

   .col-8 {
      flex: 0 0 100%;
      max-width: 100%;
   }

   .col-4 {
      flex: 0 0 100%;
      max-width: 100%;
   }
}

@media (max-width: 992px) {
   .navbar {
      flex-direction: column;
   }

   #site-main {
      margin-top: 14em;
   }
}

@media (max-width: 768px) {
   .grid .grid-item {
      width: calc(50% - 20px);
   }

   .col-3 {
      flex: 0 0 100%;
      max-width: 100%;
   }
   #bg-header {
      margin-top: 8em;
   }

   #header {
      background-color: var(--light);
   }
}

@media (max-width: 574px) {
   .toggle-button {
      display: initial;
   }

   .collapse {
      max-height: 0;
      overflow: hidden;
      transition: all 0.8s cubic-bezier(0.51, -0.15, 0, 0.98);
   }

   .collapse .nav-link {
      display: block;
      text-align: center;
   }

   .search-box {
      border-right: none;
   }

   .collapse-toggle {
      max-height: 500px;
   }
   .grid .grid-item {
      width: calc(100% - 20px);
   }
   #site-main {
      margin-top: 6em;
   }
   #bg-header {
      margin-top: 4.3em;
   }
}
